<select id={{control.inputId}} class={{if bootstrapCustomClass "custom-select"}} onchange={{action onChange value="target.value"}} autofocus={{autofocus}} disabled={{disabled}} multiple={{multiple}} required={{required}}>
  {{#each options as |selectItem index|}}
    <option value={{selectItem}} selected={{eq selectItem value}}>
      {{#if hasBlock}}
        {{yield
          (hash
            option=selectItem
            index=index
            first=(eq index 0)
            last=(eq index lastIndex)
          )
          index
        }}
      {{else}}
        {{selectItem}}
      {{/if}}
    </option>
  {{/each}}
</select>
