<div class="modal fade" id="{{modalId}}" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{#if hasBlock}}
        {{yield (x-hash
          isOpen=isOpen
          toggle=(action 'toggleModal')
          close=(action 'modalClose')
          save=(action (queue acceptAction (action (mut isOpen) false)))
          header=(component 'modal/modal-header'
            title=title
            showClose=showCloseInHeader
            modalClose=(action 'modalClose')
          )
          body=(component 'modal/modal-body' content=modalBodyContent)
          footer=(component 'modal/modal-footer'
            btnAcceptLabel=btnAcceptLabel
            btnAcceptStyle=btnAcceptStyle
            btnCloseLabel=btnCloseLabel
            btnCloseStyle=btnCloseStyle
            acceptAction=acceptAction
            modalClose=(action 'modalClose')
          )
        )}}
      {{else}}
        {{modal/modal-header
          title=title
          showClose=showCloseInHeader
          modalClose=(action 'modalClose')}}
        {{modal/modal-body content=modalBodyContent}}
        {{modal/modal-footer
          btnAcceptLabel=btnAcceptLabel
          btnAcceptStyle=btnAcceptStyle
          btnCloseLabel=btnCloseLabel
          btnCloseStyle=btnCloseStyle
          acceptAction=acceptAction
          modalClose=(action 'modalClose')}}
      {{/if}}
    </div>
  </div>
</div>
