{{#section.subsection name='Ember Model'}}
  {{#freestyle-collection
    defaultKey='Basic Usage'
    inline=false
    as |collection|
  }}
    {{#collection.variant key='Basic Usage'}}
      {{bootstrap/buttons/accept-button
        action=(action "toggleModal")
        buttonText="Open Modal"
      }}
      {{#freestyle-usage 'basic-modal-ember-model' name='Basic Modal - Ember Model'}}
        {{#modals/ember-model
          isOpen=isBasicOpen
          beforeSave=(action "beforeSave")
          afterSave=(action "afterSave")
          afterCancel=(action "afterCancel")
          model=widget
          as |modal|
        }}
          {{#modal.header}}
            {{#if modal.isNewModel}}
              New Widget
            {{else}}
              Update Widget
            {{/if}}
          {{/modal.header}}
          {{#modal.body as |body|}}
            {{#body.form as |form|}}
              {{#form.inputs as |inputs|}}
                {{inputs.text
                  label="Label"
                  value=widget.label
                  errors=widget.errors.label
                }}
              {{/form.inputs}}
            {{/body.form}}
          {{/modal.body}}
          {{modal.footer}}
        {{/modals/ember-model}}
      {{/freestyle-usage}}
      {{#freestyle-note "basic-modal-ember-model--notes"}}
        <dl>
          <dt>isOpen</dt>
          <dd>Boolean that determines the modals open state.</dd>
          <dt>beforeSave</dt>
          <dd>Action to be called before the ember model is saved. If it returns false then the save is aborted.</dd>
          <dt>afterSave</dt>
          <dd>Action to be called after the ember model is saved. If it returns false then the model will not close.</dd>
          <dt>afterCancel</dt>
          <dd>Action to be called after the ember model save is canceled. If it returns false then the model will not close.</dd>
          <dt>model</dt>
          <dd>Ember Data model that is being edited by the modal.</dd>
        </dl>
      {{/freestyle-note}}
    {{/collection.variant}}
    {{#collection.variant key='Advanced Usage'}}
      {{bootstrap/buttons/accept-button
        action=(action "toggleAdvancedModal")
        buttonText="Open Modal"
      }}
      {{#freestyle-usage 'advanced-modal-ember-model' name='Advanced Modal - Ember Model'}}
        {{#modals/ember-model
          isOpen=isAdvancedOpen
          beforeSave=(action "beforeSave")
          afterSave=(action "afterSave")
          afterCancel=(action "afterCancel")
          model=slowWidget
          as |modal|
        }}
          {{#modal.header}}
            {{#if modal.isNewModel}}
              New Widget
            {{else}}
              Update Widget
            {{/if}}
          {{/modal.header}}
          {{#modal.body as |body|}}
            {{#body.form as |form|}}
              {{#form.inputs as |inputs|}}
                {{inputs.text
                  label="Label"
                  value=widget.label
                  errors=widget.errors.label
                }}
              {{/form.inputs}}
            {{/body.form}}
          {{/modal.body}}
          {{#modal.footer as |footer|}}
            {{footer.acceptButton}}
            {{footer.cancelButton}}
          {{/modal.footer}}
        {{/modals/ember-model}}
      {{/freestyle-usage}}
    {{/collection.variant}}
    {{#collection.variant key='Custom Child Components'}}
      {{#freestyle-usage 'ember-model-child-components' name='Custom Child Components - Ember Model'}}
        <h1>Todo</h1>
      {{/freestyle-usage}}
      {{#freestyle-note "ember-model-child-components--notes"}}

      {{/freestyle-note}}
    {{/collection.variant}}
  {{/freestyle-collection}}
{{/section.subsection}}
