<div class="modal-dialog{{if centered " modal-dialog-centered" ""}}" role="document" tabindex='-1'>
  <div class="modal-content">
    {{#let (hash
      header=(component 'bootstrap/modal/-header'
        title=title
        showCloseInHeader=showCloseInHeader
        closeAction=(action 'closeAction')
      )
      body=(component 'bootstrap/modal/-body' content=body)
      footer=(component 'bootstrap/modal/-footer'
        acceptAction=acceptAction
        closeAction=(action 'closeAction')
      )
    ) as |modal|}}
      {{#if hasBlock}}
        {{yield
          (hash
            isOpen=isOpen
            toggle=(action 'toggleModal')
            close=(action 'closeAction')
            accept=acceptAction
            header=modal.header
            body=modal.body
            footer=modal.footer
          )
        }}
      {{else}}
        {{modal.header}}
        {{modal.body}}
        {{modal.footer}}
      {{/if}}
    {{/let}}
  </div>
</div>