{{#if hasBlock}}
  {{yield inputId}}
{{else}}
  {{#if label}}
    <label for="{{inputId}}" class="control-label {{if hasColumns labelColumnCss ''}} {{if srOnly 'sr-only' ''}}">{{label}}</label>
  {{/if}}
  {{#if hasColumns}}
    <div class="{{inputColumnCss}}">
      {{textarea
        tabindex=tabindex
        value=value
        elementId=inputId
        placeholder=placeholder
        classNames="form-control"
        rows=rows
        cols=cols
        disabled=disabled}}
    </div>
  {{else}}
    {{textarea
      tabindex=tabindex
      value=value
      elementId=inputId
      placeholder=placeholder
      classNames="form-control"
      rows=rows
      cols=cols
      disabled=disabled}}
  {{/if}}
  {{#if errors}}
    <div class="alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
