<div class="form-group bootstrap-power-select-component {{if hasSuccess 'has-success'}} {{if hasWarning 'has-warning'}} {{if (or hasError (and required (not hasValue))) 'has-error'}}">
  {{#if hasBlock}}
    {{#if label}}
      <label for="{{inputId}}" class="control-label {{if srOnly 'sr-only' ''}}">{{label}}</label>
    {{/if}}
    {{#if matcher}}
      {{#power-select
        selected=selected
        options=options
        placeholder=placeholder
        loadingMessage=loadingMessage
        matcher=matcher
        onchange=onChange
        allowClear=allowClear
        search=search
        searchEnabled=searchEnabled
        searchField=searchField
        allowClear=allowClear
        disabled=disabled
        required=required
        renderInPlace=renderInPlace
        as |option|}}
        {{yield option}}
      {{/power-select}}
    {{else}}
      {{#power-select
        selected=selected
        options=options
        placeholder=placeholder
        loadingMessage=loadingMessage
        onchange=onChange
        allowClear=allowClear
        search=search
        searchEnabled=searchEnabled
        searchField=searchField
        allowClear=allowClear
        disabled=disabled
        renderInPlace=renderInPlace
        as |option|}}
        {{yield option}}
      {{/power-select}}
    {{/if}}
    {{#if errors}}
      <div class="alert alert-danger" role="alert">
        {{#each errors as |error|}}
          <span>{{error.message}}</span>
        {{/each}}
      </div>
    {{/if}}
  {{else}}
    <span>Missing block syntax for power select</span>
  {{/if}}
</div>
