{{#if hasBlock}}
  {{yield inputId}}
{{else}}
  <label for="{{inputId}}" class="control-label {{if hasColumns labelColumnCss ''}} {{if customLabelCss customLabelCss ''}} {{if srOnly 'sr-only' ''}}">{{label}}</label>
  {{#if hasColumns}}
    <div class="{{inputColumnCss}}">
      {{#if checkboxType}}
        {{input checked=checked
            elementId=inputId
            type=type
            placeholder=placeholder
            readonly=readonly
            disabled=disabled}}
      {{else}}
        {{input value=value
            elementId=inputId
            type=type
            placeholder=placeholder
            classNames="form-control"
            readonly=readonly
            disabled=disabled}}
      {{/if}}
    </div>
  {{else}}
    {{#if checkboxType}}
      {{input checked=checked
          elementId=inputId
          type=type
          placeholder=placeholder
          readonly=readonly
          disabled=disabled}}
    {{else}}
      {{input value=value
          elementId=inputId
          type=type
          placeholder=placeholder
          classNames="form-control"
          readonly=readonly
          disabled=disabled}}
    {{/if}}
  {{/if}}
  {{#if errors}}
    <div class="form-control-static alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
