{{#if hasBlock}}
  {{yield inputId}}
{{else}}
  <label for="{{inputId}}" class="control-label {{if customLabelCss customLabelCss ''}} {{if srOnly 'sr-only' ''}}">{{label}}</label>
  {{input
    tabindex=tabindex
    value=value
    elementId=inputId
    type=type
    placeholder=placeholder
    classNames="form-control"
    readonly=readonly
    disabled=disabled
    key-press=key-press
    key-up=key-up
    key-down=key-down
    required=required}}
  {{#if errors}}
    <div class="form-control-static alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
