<div class="form-group bootstrap-date-picker-component {{if hasSuccess 'has-success'}} {{if hasWarning 'has-warning'}} {{if (or hasError (and required (not hasValue))) 'has-error'}}">
  {{#if hasBlock}}
    {{yield inputId}}
  {{else}}
    {{#if label}}
      <label for="{{inputId}}" class="control-label {{if srOnly 'sr-only' ''}}">{{label}}</label>
    {{/if}}
    {{bootstrap-datepicker
      id=inputId
      value=value
      format=format
      changeDate=changeDate
      todayHighlight=todayHighlight
      class="form-control"
      required=required}}
    {{#if errors}}
      <div class="alert alert-danger" role="alert">
        {{#each errors as |error|}}
          <span>{{error.message}}</span>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
</div>
