{{#if hasBlock}}
  {{yield inputId}}
{{else}}
  {{#if label}}
    <label for="{{inputId}}" class="control-label {{if customLabelCss customLabelCss ''}} {{if srOnly 'sr-only' ''}}">{{label}}</label>
  {{/if}}
  {{one-way-input-mask
    mask=phoneMask
    tabindex=tabindex
    value=value
    elementId=inputId
    classNames="form-control"
    readonly=readonly
    disabled=disabled
    placeholder=placeholder
    required=required}}
  {{#if errors}}
    <div class="form-control-static alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
