<div class="{{concat-class-names classNames}} form-group bootstrap-input-component {{if hasSuccess 'has-success'}} {{if hasWarning 'has-warning'}} {{if (or hasError (and required (not hasValue))) 'has-error'}}">
  {{#let (hash
    label=(component control.label for=control.inputId label=label srOnly=srOnly)
    input=(component 'one-way-currency-mask'
      class="form-control"
      id=control.inputId
      value=value
      disabled=disabled
      options=(hash
        prefix=prefix
        allowDecimal=allowDecimal
        decimalLimit=decimalLimit
        clearMaskOnLostFocus=clearMaskOnLostFocus
      )
      update=(action 'update')
      required=required
      placeholder=placeholder
      onComplete=onComplete
    )
  ) as |element|}}
    {{#if hasBlock}}
      {{yield
        (hash
          label=element.label
          input=element.input
        )
      }}
    {{else}}
      {{element.label}}
      {{element.input}}
    {{/if}}
  {{/let}}
  {{#if errors}}
    <div class="form-control-static alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
</div>
