<div class="{{concat-class-names classNames}} form-group bootstrap-input-component {{if hasSuccess 'has-success'}} {{if hasWarning 'has-warning'}} {{if (or hasError (and required (not hasValue))) 'has-error'}}">
  {{#if hasBlock}}
    {{yield inputId}}
  {{else}}
    {{#if label}}
      <label for="{{inputId}}" class="control-label {{if customLabelCss customLabelCss ''}} {{if srOnly 'sr-only' ''}}">{{label}}</label>
    {{/if}}
    {{one-way-currency-mask
      class="form-control"
      elementId=control.inputId
      value=value
      disabled=disabled
      options=(hash
        prefix=prefix
        allowDecimal=allowDecimal
        decimalLimit=decimalLimit
        clearMaskOnLostFocus=clearMaskOnLostFocus
      )
      update=(action 'update')
      required=required
      placeholder=placeholder
      onComplete=onComplete
    }}
    {{#if errors}}
      <div class="form-control-static alert alert-danger" role="alert">
        {{#each errors as |error|}}
          <span>{{error.message}}</span>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
</div>
