{{#if hasBlock}}
  {{yield inputId}}
{{else}}
  {{#if label}}
    <label class="{{if isSrOnly 'sr-only' ''}} {{if hasColumns labelColumnCss ''}}" for="{{inputId}}">{{label}}</label>
  {{/if}}
  {{#if hasColumns}}
    <div class="{{inputColumnCss}}">
      {{ember-selectize
          elementId=inputId
          content=content
          selection=selection
          value=value
          optionValuePath=optionValuePath
          optionLabelPath=optionLabelPath
          placeholder=placeholder
          multiple=multiple
          sortField=sortField
          sortDirection=sortDirection
          filter=filter
          loading=loading
          required=required
          readonly=readonly
          disabled=disabled
          selectOnTab=selectOnTab
          create-item=createItem
          update-filter=updateFilter
          select-item=selectItem
          add-item=addItem
          remove-item=removeItem}}
    </div>
  {{else}}
    {{ember-selectize
        elementId=inputId
        content=content
        selection=selection
        value=value
        optionValuePath=optionValuePath
        optionLabelPath=optionLabelPath
        placeholder=placeholder
        multiple=multiple
        sortField=sortField
        sortDirection=sortDirection
        filter=filter
        loading=loading
        required=required
        readonly=readonly
        disabled=disabled
        selectOnTab=selectOnTab
        create-item=createItem
        update-filter=updateFilter
        select-item=selectItem
        add-item=addItem
        remove-item=removeItem}}
  {{/if}}
{{/if}}
