<div class="{{classNames}} form-group bootstrap-input-component {{if hasSuccess 'has-success'}} {{if hasWarning 'has-warning'}} {{if (or hasError (and required (not hasValue))) 'has-error'}}">
  {{#if label}}
    <label for="{{inputId}}" class="control-label">{{label}}</label>
  {{/if}}
  {{input
    elementId=inputId
    enter='applyValueImmediately'
    value=valueText
    placeholder=placeholder
    required=required}}
  {{#if errors}}
    <div class="form-control-static alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
</div>
