<div class="{{concat-class-names classNames}} bootstrap-data-table-component ember-bs-data-table-control {{if responsive 'table-responsive'}}">
  {{#if title}}
    <div class="row">
      <div class="col-md-12">
        {{#if titleSmall}}
          <p class="lead text-center">{{title}}</p>
        {{else}}
          <h3 class="text-center">{{title}}</h3>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <table class="table ember-bs-data-table {{if striped 'table-striped'}} {{if bordered 'table-bordered'}} {{if canHover 'table-hover'}} {{if condensed 'table-condensed'}}">
    <thead>
      <tr class="ember-bs-table-header-row">
        {{#if numberedRows}}
          <th class="ember-bs-table-header-cell">&#35;</th>
        {{/if}}
        {{#each columns as |column|}}
          <th class="ember-bs-table-header-cell">{{column.label}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each dataArray as |item index|}}
        <tr class="ember-bs-table-row">
          {{#if numberedRows}}
            <td class="ember-bs-table-cell">{{add-numbers index 1}}</td>
          {{/if}}
          {{#each columns as |column|}}
            {{#if column.hasLink}}
              {{#if column.idOnRoute}}
                <td class="ember-bs-table-cell">{{#link-to column.url item}}{{parse-columns item column.attr}}{{/link-to}}</td>
              {{else}}
                <td class="ember-bs-table-cell">{{#link-to column.url}}{{parse-columns item column.attr}}{{/link-to}}</td>
              {{/if}}
            {{else}}
              <td class="ember-bs-table-cell">{{parse-columns item column.attr}}</td>
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
