{{#if hasBlock}}
  {{yield inputId}}
{{else}}
  {{#if label}}
    <label for="{{inputId}}" class="control-label {{if hasColumns labelColumnCss ''}} {{if srOnly 'sr-only' ''}}">{{label}}</label>
  {{/if}}
  {{#if hasColumns}}
    <div class="{{inputColumnCss}}">
      {{bootstrap-datepicker
        id=inputId
        value=value
        todayHighlight=todayHighlight
        class="form-control"}}
    </div>
  {{else}}
    {{bootstrap-datepicker
      id=inputId
      value=value
      todayHighlight=todayHighlight
      class="form-control"}}
  {{/if}}
  {{#if errors}}
    <div class="alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
