{{#if hasBlock}}
  {{#if label}}
    <label for="{{inputId}}" class="control-label">{{label}}</label>
  {{/if}}
  {{#power-select
    selected=selected
    options=options
    placeholder=placeholder
    onchange=onChange
    allowClear=allowClear
    searchEnabled=searchEnabled
    searchField=searchField
    allowClear=allowClear
    disabled=disabled
    as |option|}}
    {{yield option}}
  {{/power-select}}
  {{#if errors}}
    <div class="alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <span>Missing block syntax for power select</span>
{{/if}}
