{{#if hasBlock}}
  {{yield inputId}}
{{else}}
  {{#if label}}
    <label for={{inputId}} class="control-label {{if customLabelCss customLabelCss ""}} {{if srOnly "sr-only" ""}}">{{label}}</label>
  {{/if}}
  {{masked-input
    mask=phoneMask
    tabindex=tabindex
    value=value
    elementId=inputId
    classNames="form-control"
    type=type
    readonly=readonly
    disabled=disabled
    placeholder=placeholder
    placeholderChar=placeholderChar
    key-press=key-press
    key-up=key-up
    key-down=key-down
    required=required}}
  {{#if errors}}
    <div class="form-control-static alert alert-danger" role="alert">
      {{#each errors as |error|}}
        <span>{{error.message}}</span>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
