<label style="{{if disabled "cursor: not-allowed; color: #ccc;"}}">
  <input
    type="checkbox"
    id="{{inputId}}"
    checked={{isChecked}}
    onclick={{action "change" value="target.checked"}}
    name={{name}}
    disabled={{disabled}}
    required={{required}}
    autofocus={{autofocus}}
    tabindex={{tabindex}}>
  {{label}}
</label>
{{#if errors}}
  <div class="form-control-static alert alert-danger" role="alert">
    {{#each errors as |error|}}
      <span>{{error.message}}</span>
    {{/each}}
  </div>
{{/if}}
