<h2>Component Options</h2>
<hr>
<dl>
  {{#each options as |option|}}
    <dt>{{option.name}}</dt>
    <dd>
      <dl>
        <dt>Description</dt>
        <dd>{{option.description}}</dd>
        <dt>Type</dt>
        <dd>{{option.type.type}}</dd>
        {{#unless (eq option.default undefined)}}
          <dt>Default Value</dt>
          <dd>{{option.default}}</dd>
        {{/unless}}
        {{#if option.required}}
          <dt>Required</dt>
          <dd>{{option.required}}</dd>
        {{/if}}
      </dl>
      {{component option.componentName propDefinition=option data=data}}
    </dd>
  {{/each}}
</dl>
