{{#section.subsection name='modal Container'}}
  {{#freestyle-collection
    defaultKey='Basic Usage'
    inline=false
    as |collection|
  }}
    {{#collection.variant key='Basic Usage'}}
      {{#freestyle-usage 'basic-modal-container' name='BasicEmberBootstrapControls'}}

        {{modal/modal-container
          isOpen=isModalOpen
          title="Simple Modal"
          modalBodyContent=sampleContent
          acceptAction=(action 'acceptModal')}}

        <button class="btn btn-sm btn-primary" {{action 'openModal'}}>Open Modal</button>

      {{/freestyle-usage}}
    {{/collection.variant}}
    {{#collection.variant key='Advanced Usage'}}
      {{#freestyle-usage 'advanced-modal-container' name='AdvancedEmberBootstrapControls'}}

        {{modal/modal-container
          isOpen=isModalOpen
          title="Simple Modal"
          btnAcceptLabel="Ok"
          btnAcceptStyle="success"
          btnCloseLabel="Cancel"
          btnCloseStyle="danger"
          showCloseInHeader=true
          modalBodyContent=sampleContent
          acceptAction=(action 'acceptModal')
          closeAction=(action 'closeModal')
        }}

        <button class="btn btn-sm btn-primary" {{action 'openModal'}}>Open Modal</button>

        {{freestyle-prop-types data=data propDefinitions=propDefinitions}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='Custom Sub Components'}}
      {{#freestyle-usage 'advanced-modal-container' name='CustomEmberBootstrapControls'}}

        {{#modal/modal-container isOpen=isModalOpen as |modal|}}
          {{modal.header title="Block Modal" showCloseInHeader=true}}
          {{#modal/modal-body}}
            <div>
            <h1>Content!</h1>
            <p>Some important stuff to read.</p>
            <p class="text-danger">Some Red text to read</p>
            </div>
          {{/modal/modal-body}}
          {{modal.footer
            btnAcceptLabel="Save"
            btnAcceptStyle="info"
            btnCloseLabel="X"
            btnCloseStyle="link"
            acceptAction=(action 'acceptModal')
            closeAction=(action 'closeModal')}}
        {{/modal/modal-container}}

        <button class="btn btn-sm btn-primary" {{action 'openModal'}}>Open Modal</button>
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}
{{/section.subsection}}
